/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* header */
header {
    background-color: darkorange;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav-container {
    width: 80%;
    margin: 0 auto;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-actions-1 {
    width: 20%;
    font-size: .8rem;
}

.nav-actions-2 {
    width: 20%;
    display: flex;
    justify-content: center;
    gap: .5rem;
    padding: .5rem;
}

.nav-logo {
    width: 20%;
    padding: 1rem;
}

/* main */
.main-container {
    width: 80%;
    margin: 6rem auto 1rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.col {
    width: calc(100% / 3 - 1rem);
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    position: relative;
}

.brand {
    font-size: .9rem;
}

.description {
    font-weight: bold;
    font-size: 1.2rem;
}

.price {
    color: red;
    font-size: .8rem;
    font-weight: bold;
}

.discount-through {
    color: black;
    text-decoration: line-through;
    margin-left: 5px;
}

.heart {
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 0px;
    background-color: white;
    padding: .5rem;
}

.heart:hover {
    color: red;
}

.discount {
    display: inline-block;
    position: absolute;
    bottom: 80px;
    background-color: red;
    padding: .2rem .5rem;
    color: white;
    font-size: .7rem;
}

.green {
    display: inline-block;
    position: absolute;
    bottom: 80px;
    left: 45px;
    background-color: green;
    padding: .2rem .5rem;
    color: white;
    font-size: .7rem;
}